[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
User={{ vnc_username }}
PIDFile=/home/{{ vnc_username }}/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c "/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :"
ExecStart=/usr/bin/vncserver :%i -localhost no -alwaysshared -fg -geometry 1920x1080 -SecurityTypes VncAuth
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
